@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');



html, body, [class*="css"] {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #303030;
}

/* Cor do plano de fundo */
[data-testid="stApp"] {
    background-color: #e5e9ee
}

/* Header do streamlit */
[data-testid="stHeader"] {
    visibility: hidden;
}

[data-baseweb="textarea"] {
    border-width: 0px;
}

[data-baseweb="base-input"] textarea {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}

.st-b2 {
    padding-left: 10px;
}

#csv-explorer {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    color: #14149a;
}

[data-testid="chatAvatarIcon-assistant"] {
    background-image: linear-gradient(30deg, #ec6810 30%, #F09819  90%);
    flex-direction: row-reverse;
    text-align: right;
}

[data-testid="chatAvatarIcon-user"] {
    /* background-color: #1b1b96; */
    background-image: linear-gradient(30deg, #1b1b96 30%, #7c82be  90%);
}

[data-testid="stMarkdownContainer"] {
    font-family: 'Rajdhani', sans-serif;
    color: #303030;
}

[data-testid="stMarkdownContainer"] p {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    color: #303030;
    padding: 4px;
}

section[data-testid="stFileUploaderDropzone"] button[data-testid="baseButton-secondary"] {
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    border-radius: 1.1rem;
    min-height: 38.4px;
    margin: 0px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    /* background-color: #ec6810; */
    background-image: linear-gradient(30deg, #ec6810 30%, #F09819  90%);
    border: 0px solid rgba(49, 51, 63, 0.0);
}

section[data-testid="stFileUploaderDropzone"] button[data-testid="baseButton-secondary"]:hover {
    font-weight: 700;
    color: #ffffff;
    /* background-color: #14149a; */
    /* border: 1px solid #14149a; */
}

section[data-testid="stFileUploaderDropzone"] button[data-testid="baseButton-secondary"]:visited,
section[data-testid="stFileUploaderDropzone"] button[data-testid="baseButton-secondary"]:focus,
section[data-testid="stFileUploaderDropzone"] button[data-testid="baseButton-secondary"]:active {
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #ec6810;
    border: 0px solid rgba(49, 51, 63, 0.0);
}



div[data-testid="stFileUploaderDropzoneInstructions"] span {
    font-size: 16px;
    color: #5b5b5b;
}

[data-testid="stChatInput"] {
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
    background-color: #f0f2f6 !important;
    box-shadow: 3px 3px 7px #0000000d;
}


div[data-testid="stBottom"] > [class^="st-emotion-cache"] {
    background-color: #e5e9ee;
}


/* button[data-testid="stChatInputSubmitButton"] {
    color: #ec6810;
} */


.st-emotion-cache-1c7y2kd {
    flex-direction: row-reverse;
    text-align: right;
}



/* SIDEBAR */


/*logo na sidebar*/
[data-testid=stSidebar] [data-testid=stImage]{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

section[data-testid="stSidebar"] {
    background-image: linear-gradient(18deg, #1b1b96 40%, #24549b  100%);
}

div[data-baseweb="select"] > div {
    border-radius: 25px;
    padding-left: 10px
}

div[data-testid="textInputRootElement"] {
    border-radius: 25px;
    padding-left: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}

.st-ax .st-ae {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}

div[data-testid="stNotificationContentError"] > [class^="st-emotion-cache"] > span[data-testid="stAlertEmojiIcon"] {
    top: 6px;
}

div[data-testid="stSidebarContent"] div[data-testid="stSelectbox"] > label[data-testid="stWidgetLabel"] > div[data-testid="stMarkdownContainer"] > p,
div[data-testid="stSidebarContent"] div[data-testid="stTextInput"] > label[data-testid="stWidgetLabel"] > div[data-testid="stMarkdownContainer"] > p,
div[data-testid="stSidebarContent"] div[data-testid="stSlider"] > label[data-testid="stWidgetLabel"] > div[data-testid="stMarkdownContainer"] > p,
div[data-testid="stSidebarContent"] div[data-testid="stTickBar"] > div[data-testid="stTickBarMin"],
div[data-testid="stSidebarContent"] div[data-testid="stTickBar"] > div[data-testid="stTickBarMax"],
div[data-testid="stSidebarContent"] div[data-testid="stThumbValue"],
div[data-testid="stSidebarContent"] button[data-testid="baseButton-header"] {
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff
}

div[data-baseweb="select"] {
    cursor: pointer;
}

/* Header na sidebar */
div[data-testid="stSidebarContent"] div[data-testid="stHeading"] h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    color: #ffffff
}

/* Selectbox na sidebar */
div[data-testid="stSidebarContent"] div[data-testid="stSelectbox"] div[data-baseweb="select"] div {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    color: #1b1b96
}

div[data-testid="stSidebarContent"] svg[data-baseweb="icon"] {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    color: #ec6810
}




div[data-testid="stSidebarContent"] li {
    font-family: 'Rajdhani', sans-serif;
    color: #ec6810
}


/* Expanders */
div[data-testid="stExpander"] > details {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    border-style: solid;
    border-width: 0;
    border-color: rgb(63 49 49);
    border-radius: 0.9rem;
    background-color: #ffffff1f;
}




/* Instruções */
div[data-testid="stPopover"] > div[aria-haspopup="true"] > button[data-testid="baseButton-secondary"] {
    padding: 0.25rem 0.75rem;
    border-radius: 1.1rem;
    min-height: 38.4px;
    margin: 0px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(30deg, #ec6810 30%, #F09819  90%);
    border: 0px solid rgba(49, 51, 63, 0.0);
}

 div[data-testid="stPopover"] > div[aria-haspopup="true"] > button[data-testid="baseButton-secondary"] div[data-testid="stMarkdownContainer"] > p {
    font-weight: 600;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

/*Avaliação*/
div[data-testid="stVerticalBlock"] >  div[data-testid="stHorizontalBlock"] > div[data-testid="column"] > div[data-testid="stVerticalBlockBorderWrapper"] > div > div[data-testid="stVerticalBlock"] >   div[data-testid="stPopover"] > div[aria-haspopup="true"] > button[data-testid="baseButton-secondary"] {
    padding: 0.25rem 0.75rem;
    border-radius: 1.1rem;
    min-height: 38.4px;
    margin: 0px;
    line-height: 1.6;
    color: rgb(175, 175, 175);
    /* background-color: #e5e9ee; */
    background-image: linear-gradient(30deg, #e5e9ee 30%, #e5e9ee  90%);
    border: 0px solid rgba(49, 51, 63, 0.0);
}

div[data-testid="stVerticalBlock"] >  div[data-testid="stHorizontalBlock"] > div[data-testid="column"] > div[data-testid="stVerticalBlockBorderWrapper"] > div > div[data-testid="stVerticalBlock"] >   div[data-testid="stPopover"] > div[aria-haspopup="true"] > button[data-testid="baseButton-secondary"] div[data-testid="stMarkdownContainer"] > p {
    font-weight: 600;
    line-height: 1.6;
    color: rgb(175, 175, 175);
    font-size: 14px;
}

div[data-testid="stPopoverBody"] div[data-testid="stForm"] {
    border-radius: 0.5rem;
    padding: calc(0.5em - 1px);
    border: 0px solid rgba(49, 51, 63, 0.0);
  }


  div[data-autofocus-inside="true"] > div[data-testid="stPopoverBody"] {
    background-color: #e5e9ee;
 }

 div[data-autofocus-inside="true"] > div[data-testid="stPopoverBody"] > div {
    background-color: #e5e9ee;
 }


/* Thumbs Down*/
div[data-testid="stHorizontalBlock"] > div > div[data-testid="stVerticalBlockBorderWrapper"] div[data-testid="stButton"] > button[data-testid="baseButton-secondary"]{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    border-radius: 1rem;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 5px;
    padding-right: 5px;
}

div[data-testid="stHorizontalBlock"] > div > div[data-testid="stVerticalBlockBorderWrapper"] div[data-testid="stButton"] > button[data-testid="baseButton-secondary"] > div[data-testid="stMarkdownContainer"] > p > strong {
    color: rgb(190, 190, 190);
}

div[data-testid="stHorizontalBlock"] > div > div[data-testid="stVerticalBlockBorderWrapper"] div[data-testid="stButton"] > button[data-testid="baseButton-secondary"] > div[data-testid="stMarkdownContainer"] > p > strong:hover {
    color: red;
    font-weight: 700;
}

div[data-testid="stFormSubmitButton"] > button[data-testid="baseButton-secondaryFormSubmit"] {
    padding: 0.0rem 1.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(30deg, #ec6810 30%, #F09819 90%);
    border-color: #0000000d;
}

div[data-testid="stFormSubmitButton"] > button[data-testid="baseButton-secondaryFormSubmit"]:hover {
    border-color: #0000000d;
}

div[data-testid="stFormSubmitButton"] > button[data-testid="baseButton-secondaryFormSubmit"] p {
    color: white;
}
div[data-testid="stFormSubmitButton"] > button[data-testid="baseButton-secondaryFormSubmit"] p:hover {
    font-weight: 700;
}

div[data-testid="element-container"] > div.row-widget > div[data-testid="stFormSubmitButton"] {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div[data-testid="stSelectbox"] > div[data-baseweb="select"] > div {
    cursor: pointer;
}
